<h1 class="cover-heading">AFR SMS Alerts</h1>

<p class="lead">Enter your phone number to receive alerts during the AFR!</p>

<%= render 'form' %>

<div class="alert alert-danger">

	<p class="text-info">Alerts will only go out to guides that have entered their phone numbers. please use this emergency text system ONLY for ranger sightings that would effect the AFR course, please be as specific as possible about the location of ranger(s)</p>

	<p class="text-danger footer-notice">*** All numbers will be deleted after AFR ***</p>

</div>

