<h1 class="cover-heading">AFR SMS Alerts</h1>
<p class="lead">Enter your phone number to receive alerts during the AFR!</p>
<%= render 'form' %>
<p class="text-danger">*** All numbers will be deleted after AFR ***</p>

