<div class="jumbotron">

	<p id="notice"><%= notice %></p>

	<h1 class="main-number"> <%= ENV['TWILIO_NUMBER'] %> </h1>

	<p>This is the number to use for sending messages to the AFR system. SAVE IT!!!</p>

</div>